body {
    background: #EEF9BF;
}

h1 {
    color: #75B79E;
    font-family: roboto;
    font-size: 56px;
    text-align: center;
    margin-top: 40px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70vw;
    margin: 30px auto;
}

.card {
    width:117px;
    height: 146px;
    margin: 17px;
    background: #A7E9AF;  
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px; 
    position: relative;
    border: 1px solid #99CEA8;
    transition: all .5s;
    transform-style: preserve-3d;
}

.card.flip {
    transform: rotateY(180deg);
}

.front-face, .back-face {
    position: absolute;
    backface-visibility: hidden;
}

.back-face {
    transform: rotateY(180deg);
}

.card:active .back-face {
    transform: rotateY(0deg);
}

.card:active .front-face {
    transform: rotateY(-180deg);
}


img {
    width: 100px;
    height: 100px;  
}

section {
    display: none;
    background: #A7E9AF;  
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #5C913B;
    padding: 20px;
    border-radius: 5px;
    position: fixed;
    right: 10px;
    top: 10px;
    text-align: center;
}

.unhide {
    display: block;
}

.timer {
    font-size: 4em;
}

.label {
    font-size: 1em;
}

@media (max-width:414px) {
    h1  {
        font-size: 36px;
    }

    .game {
        flex-direction: column;
    }

    section {
        top: 1px;
        padding: 7px;
    }

    .timer {
        font-size: 1.5em;
    }
    
    .label {
        font-size: 0.5em;
    }
}