body {
    background: #EEF9BF;
}

h1 {
    color: #75B79E;
    font-family: roboto;
    font-size: 56px;
    text-align: center;
    margin-top: 40px;
}

.container {
    margin: 0px 5vw;
    margin-top: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width:117px;
    height: 146px;
    margin: 17px 17px;
    background: #A7E9AF;
    background-image: url(../Images/front.png);
    background-size: cover;
    
}

@media (max-width:414px) {
    h1  {
        font-size: 36px;
    }

    .container {
        flex-direction: column;
    }

}