body {
    background: #EEF9BF;
}

h1 {
    color: #75B79E;
    font-family: roboto;
    font-size: 56px;
    text-align: center;
    margin-top: 40px;
}

.container {
    margin: o auto;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:414px) {
    h1  {
        font-size: 36px;
    }

    .container {
        flex-direction: column;
    }

}